.html {
  background-color: lightblue;
  font-family: FrankRuehl;

}

.smurfytitle {
  color: blue;
  font-family: "FrankRuehl";
  text-shadow: 2px 2px grey;
  }

section {
  background-color: #242d6b;
  padding: 15px;
  color: white;}
  a {color:red}

.signup {
  border-radius:6px;
}
.bavkground {
  background-image: image() ;
}